<form
[formGroup]="cardNumberGroup"
(ngSubmit)="transfer()"
>
  <div class="d-flex flex-column align-items-center">
    <h3>Данные отправителя</h3>
    <div class="card">
      <div class="card-input">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Имя"
          formControlName="firstName"
        >
        <ng-container
          *ngTemplateOutlet="errorMessage; context: { message: 'Поле должно содержать латинские буквы.', control: cardNumberGroup.controls.firstName }"
        ></ng-container>
      </div>
      <div class="card-input">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Фамилия"
          formControlName="lastName"
        >
        <ng-container
          *ngTemplateOutlet="errorMessage; context: { message: 'Поле должно содержать латинские буквы.', control: cardNumberGroup.controls.lastName }"
        ></ng-container>
      </div>
      <div class="card-input">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Номер карты"
          formControlName="cardNumberFrom"
          [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
        >
        <ng-container
          *ngTemplateOutlet="errorMessage; context: { message: 'Введите валидный номер карты.', control: cardNumberGroup.controls.cardNumberFrom }"
        ></ng-container>
      </div>
    </div>
    <div class="card-input">
      <div class=" d-flex">
        <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Сумма"
        formControlName="value"
        ><span class="ml-2">руб.</span>
      </div>
      <ng-container
        *ngTemplateOutlet="errorMessage; context: { message: 'Поле должно содержать только цифры.', control: cardNumberGroup.controls.value }"
      ></ng-container>
    </div>
    <h3>Данные получателя</h3>
    <div class="card">
      <div class="card-input">
        <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Номер карты"
        formControlName="cardNumberTo"
        [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
        >
        <ng-container
          *ngTemplateOutlet="errorMessage; context: { message: 'Введите валидный номер карты.', control: cardNumberGroup.controls.cardNumberTo }"
        ></ng-container>
      </div>
    </div>
    <button
    type="submit"
    class="btn btn-primary"
    [disabled]="cardNumberGroup.invalid"
    >Сделать перевод</button>
    <ng-template #errorMessage let-msg='message' let-control = 'control'>
      <span
        *ngIf="control.touched && control.dirty && control.invalid"
        class="invalid-feedback"
      >{{ msg }}</span>
    </ng-template>
  </div>
</form>