<form
[formGroup]="cardNumberGroup"
(ngSubmit)="transfer()"
>
  <div class="d-flex flex-column align-items-center">
    <h3>Данные отправителя</h3>
    <div class="card">
      <div class="mb-4">
        <input
        type="text"
        name="firstName"
        class="form-control form-control-sm"
        placeholder="Имя"
        formControlName="firstname"
        >
        <div
        *ngIf="true"
        class="form-text">Поле должно содержать латинские буквы.</div>
      </div>
      <div class="mb-4">
        <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Фамилия"
        formControlName="lastName"
        >
        <div class="form-text">Поле должно содержать латинские буквы</div>
      </div>
      <div class="mb-4">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Номер карты"
          formControlName="cardNumberFrom"
          [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
        >
        <div class="form-text">Введите валидный номер карты.</div>
      </div>
    </div>
    <div class="mb-4 d-flex">
      <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Сумма"
      formControlName="value"
      ><span class="ml-2">руб.</span>
      <div class="form-text">Поле должно содержать только цифры.</div>
    </div>
    <h3>Данные получателя</h3>
    <div class="card">
      <div class="mb-4">
        <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Номер карты"
        formControlName="cardNumberTo"
        [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
        >
        <div class="form-text">Введите валидный номер карты.</div>
      </div>
    </div>
    <button
    type="submit"
    class="btn btn-primary"
    [disabled]="cardNumberGroup.invalid"
    >Сделать перевод</button>
  </div>
</form>